[submodule ".registry"]
	path = .registry
	url = https://github.com/jimjam-slam/universe
	branch = HEAD
[submodule "collateral"]
	path = collateral
	url = https://github.com/jimjam-slam/collateral
	branch = main
[submodule "ggflags"]
	path = ggflags
	url = https://github.com/jimjam-slam/ggflags
	branch = main
