[submodule ".registry"]
	path = .registry
	url = https://github.com/jimjam-slam/universe
	shallow = true
	branch = HEAD
[submodule "collateral"]
	path = collateral
	url = https://github.com/jimjam-slam/collateral
	shallow = true
	branch = main
	registered = true
